<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <center><h1>¿Qué es bookChain?</h1>
            <br>
            <p>Publica libros como NFTs limitados en la BookChain</p>
            <p>Derechos de Autor INMUTABLES y Transacciones de Persona a Persona</p>
            <p>Libros, diarios personales, periódicos y mucho más...</p>
        </center>
        </div>
    </div>

    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
